# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Vim
*.sw[nopq]

# Autoconf
autom4te.cache
config.log
src/config.h
configure
config.status
Makefile
